body { background: lightblue; }

.container { max-width: 1200px; margin: 40px auto; width: 100%; padding: 15px; }

.song-container { width: 300px; display: flex; flex-direction: column; border: 1px solid darkmagenta; padding: 15px 20px; }

.song-container h2 { color: darkcyan; margin-bottom: 0; }

.song-container h3 { color: darkgrey; }

.song-container p { font-size: 18px; }

.center-flex { display: flex; width: 100%; justify-content: center; }

p { font-size: 14px; }
