body {
    background: lightgray;
}
.container {
    max-width: 1200px;
    margin: 40px auto;
    width: 100%; 
    padding: 15px;      
}
.song-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid darkmagenta;
    padding: 15px 20px;
    h2 {
        color: darkcyan;
        margin-bottom: 0;
    } 
    h3 {
        color: darkgrey;
    }
    p {
        font-size: 16px;
    }       
}
.center-flex {   
    display: flex; 
    width: 100%;    
    justify-content: center;
}


